.explore-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
  }
  
  .search-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    background: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .search-bar input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
  }
  
  .search-button {
    padding: 10px 20px;
    background-color: #3091f8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-button:hover {
    background-color: #1a76d2;
  }
  
  .job-listings {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .job-card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: opacity 0.25s ease-out;
    opacity: 1;
  }
  
  .job-card h3 {
    color: #3091f8;
    margin-bottom: 5px;
  }

  .job-card.hide {
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }